body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 14px;
    background-color: #f3f3f3;
}

h2, h3{
    font-weight:bold;
}

a{
    text-decoration: none;
    color: black;
}

hr{
    border-color: rgba(128, 128, 128, 0.288);
    width: 90%;
}

.header_perfil{
    background-image: url(imagens/header_kenzie.png);
    background-position: 0% 100%;
    background-size: cover;
    width: 850px;
    height: 320px;
    margin: auto;
}

.foto_perfil{
    background-image: url(imagens/kenzie.png);
    background-size: cover;
    border: 1px solid black;
    width: 160px;
    height: 160px;
    position:absolute;
    margin-top: 200px;
    margin-left: 20px;
}

.info_perfil{
    color: white;
    position:absolute;
    margin-top: 225px;
    margin-left: 200px;
}

/* botões perfil */

.btn_perfil{ 
    border: 1px solid rgba(0, 0, 0, 0.103);
    background-color: #FDFDFD;
    border-radius: 2px;
}

.btn1{
    position:absolute;
    margin-top: 285px;
    margin-left: 540px;
    width: 70px;
    height: 32px;
    color: #4B5B9E;
}

.btn2{
    position:absolute;
    margin-top: 285px;
    margin-left: 630px;
    width: 115px;
    height: 32px;
}

.btn3{
    position:absolute;
    margin-top: 285px;
    margin-left: 745px;
    width: 100px;
    height: 32px;
}

.icon_gray{
    color: rgba(0, 0, 0, 0.658)
}

.barra_perfil{
    width: 850px;
    height: 55px;
    margin: auto;
    background-color: white;
}

/* Indices perfil */

.indice_inicial{
    text-align: center;
    position:absolute;
    margin-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 250px;
    width: 90px;
    height: 33px;
    color: #4B5B9E;
    border-bottom: 3px solid #4B5B9E;
}

.indice_sobre{
    position:absolute;
    margin-top: 17px;
    margin-left: 380px;
    width: 50px;
    height: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
}

.indice_sobre,a:hover{
    color: #4B5B9E;
}

.indice_fotos{
    position:absolute;
    margin-top: 17px;
    margin-left: 445px;
    width: 50px;
    height: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
}

.indice_fotos,a:hover{
    color: #4B5B9E;
}

.indice_videos{
    position:absolute;
    margin-top: 17px;
    margin-left: 510px;
    width: 60px;
    height: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
}

.indice_videos,a:hover{
    color: #4B5B9E;
}

.indice_mais{
    position:absolute;
    margin-top: 17px;
    margin-left: 585px;
    width: 50px;
    height: 20px;
}

.indice_mais,a:hover{
    color: #4B5B9E;
}

.conteudo{
    width: 850px;
    margin: auto;
    clear: both;
}

/* Formatação colunas */

.col{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: rgba(0, 0, 0, 0.13) 1px 1px ;
    border-radius: 15px;
}

.col_titulo{
    padding-left: 12px;
    font-size: 16px;
}

/*Coluna Sobre */ 

.col1_1{
    float: left;
    margin-top: 15px;
    width: 328px;
    height: 320px;
}

.icon{
    color:rgba(128, 128, 128, 0.753); 
    font-size: 22px;
}

.alinha_icon{
    padding-bottom: 60px;
    padding-left: 20px;
}

.alinha_td{
    padding-left: 20px;
}

.col1_td{
    width: 250px;
}

/* Coluna fotos */

.col1_2{
    float: left;
    margin-top: 15px;
    width: 328px;
    height: 290px;
}

.table_fotos{
    padding-left: 5px;
}

.table_fotos img{
    width: 100px;
    height: 100px;
}

/*Coluna publicações */ 

.col2_1{
    float: right;
    margin-top:15px;
    width: 512px;
    height: 690px;
}

.table_header_publi img{
    width: 42px;
    height: 42px;
    border-radius: 35px;
    margin-top:10px;
}

.table_header_publi span{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.678);
}

.texto_publi {
   padding-left: 15px;
   padding-right: 15px;
   text-align: justify;
}

.img_publi {
    width: 512px;
    height: 300px;
    background-size: cover;
    margin-top: 15px;
}

.description_publi{
    width: 497px;
    height: 80px;
    background-color: #f3f3f3;
    border: 1px solid rgba(0, 0, 0, 0.089);
    margin-top: 0px;
    padding: 7px;
}

.description_publi span{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.678);
}

.emojis_publi{

    padding: 10px;
}

.estilo_emoji{
    font-size: 18px;
}

.emoji-red{
    color: red;
}

.emoji-blue{
    color: #4B5B9E;
}


.info_publi{
    display: inline-block;
    margin-left: 200px;
}

.info_publi span{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.678);
    font-size: 13px;
}

.interagir_publi{
    padding-left: 35px;
    font-size: 14px;
}


.interagir_table td{;
    width: 170px;
}

.form_publi{
    padding-left: 15px;
}

input[type=text] {
    width: 95%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid  rgba(0, 0, 0, 0.432);
    border-radius: 5px;
  }

  /* Coluna Publicações 2 */


.col2_2{
    float: right;
    margin-top: 15px;
    width: 512px;
    height: 810px;
}

.img_size{
    height: 420px;
}
